@{
    ViewData["Title"] = "FitnessTimeGym ";
}

<div class="text-center">
    <h1 class="display-4">FitnessTimeGym Management System</h1>
    <p>Welcome! Use this system to manage members, payments, and gym activities.</p>
</div>
